body{margin:10px;}
.mg10{margin:10px 0;}
.ib {display:inline-block}
.ta {text-align: center}

/* Main */
.mainTop{min-height:75px;}
.mainTopMenu{float:right;margin:12px 0}

.mainOverviewBG {background-color: #F2F1EB}

.mainFeaturesBG {background-color: #F9F9F9}
.mainFeatures {width:110px;height:110px;display:table-cell;margin:0 auto}
.mainFeaturesImg1 {width: 110px;height: 110px;background: url(../image/main/features/icon_cognitive_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesImg2 {width: 110px;height: 110px;background: url(../image/main/features/icon_language_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesImg3 {width: 110px;height: 110px;background: url(../image/main/features/icon_framework_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesImg4 {width: 110px;height: 110px;background: url(../image/main/features/icon_machine_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesImg5 {width: 110px;height: 110px;background: url(../image/main/features/icon_cloud_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesImg6 {width: 110px;height: 110px;background: url(../image/main/features/icon_data_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainServiceBG {background-color: #FFFFFF}
.mainServiceImg1 {width: 110px;height: 110px;background: url(../image/main/service/icon_chatbot.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceImg2 {width: 110px;height: 110px;background: url(../image/main/service/icon_ocr.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainServiceImg3 {width: 110px;height: 110px;background: url(../image/main/service/icon_mike.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainHowitworkBG {background-color: #EAEAE8}
.mainHowitworkImg1 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box01.png) no-repeat;background-size: 100%;margin:0 auto}
.mainHowitworkImg2 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box02.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainHowitworkImg3 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box03.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainContactusBG {background-color: #F2F1EB}
.mainContactus {display:block !important}
.mainContactusDiv1 {float:left;display:inline-block;width:100%}
.mainContactusDiv2 {float:right;display:inline-block;width:100%}
.mainContactusForm1 {width:95px}
.mainContactusForm2 {max-width:300px}
.mainContactusImg1 {width: 585px;height: 293px;background: url(../image/main/c05_box.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFooterBG {background-color:#5D5D5D}
.mainFooterImg1 {width: 189px;height: 33px;background: url(../image/main/logo.png) no-repeat;background-size: 100%;margin:0 auto}


