/* Main */
.mainOverviewBG {background-color: #F2F1EB}

.mainFeaturesBG {background-color: #F9F9F9}

.imgOri:hover{opacity:0}
.imgHover {opacity:0}
.imgHover:hover {opacity:1}
.mainFeaturesImg1 {width: 70px;height: 70px;background: url(../image/main/features/icon_cognitive.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore1{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures1:hover{background-color:#434343;cursor:pointer}
.mainFeatures1:hover>div{color:#FFF}
.mainFeatures1:hover .mainFeaturesImg1 {width: 70px;height: 70px;background: url(../image/main/features/icon_cognitive_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures1:hover .mainFeaturesMore1{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFeaturesImg2 {width: 70px;height: 70px;background: url(../image/main/features/icon_language.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore2{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures2:hover{background-color:#434343;cursor:pointer}
.mainFeatures2:hover>div{color:#FFF}
.mainFeatures2:hover .mainFeaturesImg2 {width: 70px;height: 70px;background: url(../image/main/features/icon_language_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures2:hover .mainFeaturesMore2{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFeaturesImg3 {width: 70px;height: 70px;background: url(../image/main/features/icon_framework.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore3{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures3:hover{background-color:#434343;cursor:pointer}
.mainFeatures3:hover>div{color:#FFF}
.mainFeatures3:hover .mainFeaturesImg3 {width: 70px;height: 70px;background: url(../image/main/features/icon_framework_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures3:hover .mainFeaturesMore3{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFeaturesImg4 {width: 70px;height: 70px;background: url(../image/main/features/icon_machine.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore4{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures4:hover{background-color:#434343;cursor:pointer}
.mainFeatures4:hover>div{color:#FFF}
.mainFeatures4:hover .mainFeaturesImg4 {width: 70px;height: 70px;background: url(../image/main/features/icon_machine_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures4:hover .mainFeaturesMore4{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFeaturesImg5 {width: 70px;height: 70px;background: url(../image/main/features/icon_cloud.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore5{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures5:hover{background-color:#434343;cursor:pointer}
.mainFeatures5:hover>div{color:#FFF}
.mainFeatures5:hover .mainFeaturesImg5 {width: 70px;height: 70px;background: url(../image/main/features/icon_cloud_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures5:hover .mainFeaturesMore5{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainFeaturesImg6 {width: 70px;height: 70px;background: url(../image/main/features/icon_data.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeaturesMore6{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures6:hover{background-color:#434343;cursor:pointer}
.mainFeatures6:hover>div{color:#FFF}
.mainFeatures6:hover .mainFeaturesImg6 {width: 70px;height: 70px;background: url(../image/main/features/icon_data_hover.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainFeatures6:hover .mainFeaturesMore6{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainServiceBG {background-color: #FFFFFF}
.mainServiceImg1 {width: 110px;height: 110px;background: url(../image/main/service/icon_chatbot.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore1{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore1:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainServiceImg2 {width: 110px;height: 110px;background: url(../image/main/service/icon_ocr.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainServiceMore2{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore2:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainServiceImg3 {width: 110px;height: 110px;background: url(../image/main/service/icon_mike.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainServiceMore3{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore3:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}

.mainHowitworkBG {background-color: #EAEAE8}
.mainHowitworkImg {width: 100%;height: 344px;background: url(../image/main/howitwork/c04.png) no-repeat;background-size: 100%;margin:0 auto}
.mainHowitworkImg2 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box02.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainHowitworkImg3 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box03.png) no-repeat;background-size: 100%;margin: 0 auto}

.mainContactusBG {background-color: #F2F1EB}
.mainContactusSign{width: 140px;height: 40px;background: url(../image/main/btd_sign.png) no-repeat;background-size: 100%;margin:0 auto}
.mainContactusSign:hover{width: 140px;height: 40px;background: url(../image/main/btd_sign_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainContactusDiv1 {display:inline-block; width:500px;transform:translateX(-3%) translateY(-8%)}
.mainContactusDiv2 {display:inline-block;}
.mainContactusImg1 {width: 100%;height: 414px;background: url(../image/main/c05_box.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainContactusImg2 {width: 100%;height: 414px;background-size: 100%;margin: 0 auto;display:inline-block}

/* Footer */
.mainFooterBG {background-color:#5D5D5D}
.mainFooterImg1 {width: 189px;height: 33px;background: url(../image/main/footer/logo.png) no-repeat;background-size: 100%; margin-top:20px; margin-bottom:10px}
.mainFooterImg2 {width: 16px;height: 27px;background: url(../image/main/footer/icon_location02.png) no-repeat;background-size: 100%;display:inline-block; margin:0 5px -5px 0}
.mainFooterImg3 {width: 22px;height: 22px;background: url(../image/main/footer/icon_call.png) no-repeat;background-size: 100%;display:inline-block; margin:0 5px -5px 0}
.mainFooterImg4 {width: 21px;height: 14px;background: url(../image/main/footer/icon_message.png) no-repeat;background-size: 100%; display:inline-block; margin:0 5px -3px 0}
.mainFooterFont{color:#FFF}
.mainFooterLocation{margin:15px 0}
.mainFooterCall{margin:15px 0}
.mainFooterEmail{margin:15px 0}
.footerFaceBook{width: 35px;height: 35px;background: url(../image/main/footer/icon_facebook.png) no-repeat;background-size: 100%;display:inline-block; margin:0 15px;cursor:pointer}
.footerGoogle{width: 35px;height: 35px;background: url(../image/main/footer/icon_google.png) no-repeat;background-size: 100%;display:inline-block; margin:0 15px;cursor:pointer}
.footerTwitter{width: 35px;height: 35px;background: url(../image/main/footer/icon_twitter.png) no-repeat;background-size: 100%;display:inline-block; margin:0 15px;cursor:pointer}
.footerForm1{display:inline-block;}
.footerForm2{display:inline-block;}