@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html, body{font-family:nanumgothic !important}
.mg5_tb{margin:5px 0;}
.mg10_tb{margin:10px 0;}
.mg20_tb{margin:20px 0;}
.mg30_tb{margin:30px 0;}
.mg40_tb{margin:40px 0;}
.mg60_tb{margin:60px 0;}
.mg100_tb{margin:100px 0;}
.mg5_lr{margin:0 5px}
.mg15_lr{margin:0 15px}
.mg10p_lr{margin:0 10%}
.mg-10p_tb{margin:-10% 0}
.mg15_top{margin-top:15px}
.mg50_top{margin-top:50px}
.mg100_top{margin-top:100px}
.mg0_bottom{margin-bottom:0}
.mg10_bottom{margin-bottom:10px}
.mg20_bottom{margin-bottom:20px}
.mg30_bottom{margin-bottom:30px}
.mg40_bottom{margin-bottom:40px}
.mg50_bottom{margin-bottom:50px}
.mg100_bottom{margin-bottom:100px}
.mg30_r{margin-right:30px}
.pd0{padding:0}
.pd10{padding:10px}
.pd5_tb{padding:5px 0}
.pd10_tb{padding:10px 0}
.pd30_tb{padding:30px 0}
.pd0_lr{padding-left:0;padding-right:0}
.pd5p_lr{padding:0 5%}
.pd10p_lr{padding:0 10%}
.pd20_top{padding-top:20px}
.pd20_bottom{padding-bottom:20px}
.pd1em{padding:1em}
.titleGap{margin:70px 0 30px}
.ib {display:inline-block}
.ta {text-align: center}
.divCenter{display:table-cell; vertical-align:middle; text-align:center}
.w100 {width:100%}
.vm{vertical-align:middle}
.bcWhite{background-color:#FFF}
.maxW{max-width:100%}
.fl{float:left}
.fr{float:right}
.h60{height:60px}
.h100{height:100px}
.h120{height:120px}
.borderBottom{border-bottom:3px solid #EAEAE8}
.borderBottom1{border-bottom:1px solid #777}
.cPoint{cursor:pointer}
.navLi{color:#CCC; margin:0 5px;display:inline-block}
.navMenu{color:#777;display:inline-block}
.lh14{line-height:1.4}
.resize{resize:none}

/* 페이지타이틀 */
.pageTitle{display: none;}

/* scrolling */
.floating{padding:20px;position:fixed;right:0;top:55%;margin-right:0px;text-align:center;z-index:999}
.scrollInquiryImg{width:58px;height:140px;background: url(../image/main/btd_inquiry.png) no-repeat;background-size: 100%;margin: 0 auto;border:1px solid #FFF;border-radius:4px}
.scrollInquiryImg:hover{width:58px;height:140px;background: url(../image/main/btd_inquiry_hover.png) no-repeat;background-size: 100%;margin: 0 auto;cursor:pointer}
.scrollTopImg{width:58px;height:56px;background: url(../image/main/btd_top.png) no-repeat;background-size: 100%;margin: 0 auto;border:1px solid #FFF;border-radius:4px}
.scrollTopImg:hover{width:58px;height:56px;background: url(../image/main/btd_top_hover.png) no-repeat;background-size: 100%;margin: 0 auto;cursor:pointer}
.scrollChatImg{width:58px;height:56px;background: url(../image/main/btd_chat.png) no-repeat;background-size: 100%;margin: 0 auto;border:1px solid #FFF;border-radius:4px}
.scrollChatImg:hover{width:58px;height:56px;background: url(../image/main/btd_chat_hover.png) no-repeat;background-size: 100%;margin: 0 auto;cursor:pointer}