/* Header  */
.headerStyle{color:#777;background-color:#FFF;border-color:#FFF;padding:10px;margin-bottom:0}

/* Main */
.mainOverviewBG {background-color: #F2F1EB;padding:60px 17%}

.mainFeaturesBG {background-color: #F9F9F9;padding:0 10%;padding-bottom:100px}
.mainFeaturesImg1 {width: 70px;height: 70px;background: url(../image/main/features/icon_cognitive.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore1{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeatures1{min-height:357px}
.mainFeatures1:hover{background-color:#434343;cursor:pointer}
.mainFeatures1:hover>div{color:#FFF}
.mainFeatures1:hover .mainFeaturesImg1 {width: 70px;height: 70px;background: url(../image/main/features/icon_cognitive_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures1:hover .mainFeaturesMore1{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeaturesImg2 {width: 70px;height: 70px;background: url(../image/main/features/icon_language.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore2{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeatures2{min-height:357px}
.mainFeatures2:hover{background-color:#434343;cursor:pointer}
.mainFeatures2:hover>div{color:#FFF}
.mainFeatures2:hover .mainFeaturesImg2 {width: 70px;height: 70px;background: url(../image/main/features/icon_language_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures2:hover .mainFeaturesMore2{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeaturesImg3 {width: 70px;height: 70px;background: url(../image/main/features/icon_framework.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore3{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeatures3{min-height:357px}
.mainFeatures3:hover{background-color:#434343;cursor:pointer}
.mainFeatures3:hover>div{color:#FFF}
.mainFeatures3:hover .mainFeaturesImg3 {width: 70px;height: 70px;background: url(../image/main/features/icon_framework_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures3:hover .mainFeaturesMore3{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin: 15px}
.mainFeaturesImg4 {width: 70px;height: 70px;background: url(../image/main/features/icon_machine.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore4{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin:  15px}
.mainFeatures4{min-height:357px}
.mainFeatures4:hover{background-color:#434343;cursor:pointer}
.mainFeatures4:hover>div{color:#FFF}
.mainFeatures4:hover .mainFeaturesImg4 {width: 70px;height: 70px;background: url(../image/main/features/icon_machine_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures4:hover .mainFeaturesMore4{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin:  15px}
.mainFeaturesImg5 {width: 70px;height: 70px;background: url(../image/main/features/icon_cloud.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore5{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin:  15px}
.mainFeatures5{min-height:357px}
.mainFeatures5:hover{background-color:#434343;cursor:pointer}
.mainFeatures5:hover>div{color:#FFF}
.mainFeatures5:hover .mainFeaturesImg5 {width: 70px;height: 70px;background: url(../image/main/features/icon_cloud_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures5:hover .mainFeaturesMore5{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin:  15px}
.mainFeaturesImg6 {width: 70px;height: 70px;background: url(../image/main/features/icon_data.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeaturesMore6{width: 20px;height: 20px;background: url(../image/main/features/btd_plus.png) no-repeat;background-size: 100%;margin:  15px}
.mainFeatures6{min-height:357px}
.mainFeatures6:hover{background-color:#434343;cursor:pointer}
.mainFeatures6:hover>div{color:#FFF}
.mainFeatures6:hover .mainFeaturesImg6 {width: 70px;height: 70px;background: url(../image/main/features/icon_data_hover.png) no-repeat;background-size: 100%;margin: 15px auto 0}
.mainFeatures6:hover .mainFeaturesMore6{width: 20px;height: 20px;background: url(../image/main/features/btd_plus_hover.png) no-repeat;background-size: 100%;margin:  15px}

.mainServiceBG {background-color: #FFFFFF;padding:0 10%}
.mainServiceContents{min-height:80px;}
.mainServiceImg1 {width: 110px;height: 110px;background: url(../image/main/service/icon_chatbot.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore1{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore1:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainServiceImg2 {width: 110px;height: 110px;background: url(../image/main/service/icon_ocr.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainServiceMore2{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore2:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainServiceImg3 {width: 110px;height: 110px;background: url(../image/main/service/icon_mike.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainServiceMore3{width: 140px;height: 40px;background: url(../image/main/service/btd_more.png) no-repeat;background-size: 100%;margin:0 auto}
.mainServiceMore3:hover{width: 140px;height: 40px;background: url(../image/main/service/btd_more_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}

.mainHowitworkBG {background-color: #EAEAE8; padding:0 10%}
.mainHowitworkArrow{width: 26px;height: 48px;background: url(../image/main/visual_btd02.png) no-repeat;background-size: 100%;margin: 5% 15px; display:inline-block}
.mainHowitworkImg1 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box01.png) no-repeat;background-size: 100%;margin: 0 15px; display:inline-block}
.mainHowitworkImg2 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box02.png) no-repeat;background-size: 100%;margin: 0 15px; display:inline-block}
.mainHowitworkImg3 {width: 264px;height: 344px;background: url(../image/main/howitwork/c04_box03.png) no-repeat;background-size: 100%;margin: 0 15px; display:inline-block}
.mainHowitworkTitle1{margin:55px 0; color:#FFF}
.mainHowitworkText1{margin:140px 15px 0 15px;height:70px; color:#777}
.mainHowitworkTitle2{margin:55px 0; color:#FFF}
.mainHowitworkText2{margin:125px 15px 0 15px;height:70px; color:#777}
.mainHowitworkTitle3{margin:55px 0; color:#FFF}
.mainHowitworkText3{margin:155px 15px 0 15px;height:70px; color:#777}

.mainContactusBG {background-color: #F2F1EB; padding:0 10%}
.mainContactusSign{width: 140px;height: 40px;background: url(../image/main/btd_sign.png) no-repeat;background-size: 100%;margin:0 auto}
.mainContactusSign:hover{width: 140px;height: 40px;background: url(../image/main/btd_sign_hover.png) no-repeat;background-size: 100%;margin:0 auto;cursor:pointer}
.mainContactusDiv1 {display:inline-block; width:500px;transform:translateX(-3%) translateY(-8%)}
.mainContactusDiv2 {display:inline-block;}
.mainContactusImg1 {width: 100%;height: 414px;background: url(../image/main/c05_box.png) no-repeat;background-size: 100%;margin: 0 auto}
.mainContactusImg2 {width: 100%;height: 414px;background-size: 100%;margin: 0 auto;display:inline-block}

/* Footer */
.mainFooterBG {background-color:#5D5D5D; padding:0 10%}
.mainFooterImg1 {width: 189px;height: 33px;background: url(../image/main/footer/logo.png) no-repeat;background-size: 100%; margin-top:20px; margin-bottom:10px}
.mainFooterImg2 {width: 16px;height: 27px;background: url(../image/main/footer/icon_location02.png) no-repeat;background-size: 100%;display:inline-block; margin:0 5px -5px 0}
.mainFooterImg3 {width: 22px;height: 22px;background: url(../image/main/footer/icon_call.png) no-repeat;background-size: 100%;display:inline-block; margin:0 5px -5px 0}
.mainFooterImg4 {width: 21px;height: 14px;background: url(../image/main/footer/icon_message.png) no-repeat;background-size: 100%; display:inline-block; margin:0 5px -3px 0}
.mainFooterImg5 {width: 22px;height: 21px;background: url(../image/main/footer/icon_privacy.png) no-repeat;background-size: 100%; display:inline-block; margin:0 5px -3px 0}
.mainFooterFont{color:#FFF}
.mainFooterFont>a:link {text-decoration:none;color:#FFF}
.mainFooterFont>a:hover{text-decoration:none;color:#FFF}
.mainFooterFont>a:visited{text-decoration:none;color:#FFF}
.mainFooterFont>a:active{text-decoration:none;color:#FFF}
.mainFooterLocation{margin:30px 0 12px}
.mainFooterCall{margin:12px 0}
.mainFooterEmail{margin:12px 0}
.mainFooterPerson{margin:12px 0}
.footerFaceBook{width: 35px;height: 35px;background: url(../image/main/footer/icon_facebook.png) no-repeat;background-size: 100%;display:inline-block; margin:15px 30px 0 0;cursor:pointer}
.footerGoogle{width: 35px;height: 35px;background: url(../image/main/footer/icon_google.png) no-repeat;background-size: 100%;display:inline-block; margin:15px 30px 0 0;cursor:pointer}
.footerTwitter{width: 35px;height: 35px;background: url(../image/main/footer/icon_twitter.png) no-repeat;background-size: 100%;display:inline-block; margin:15px 30px 0 0;cursor:pointer}
.footerForm1{display:inline-block;}
.footerForm2{display:inline-block;}
.mainFooterTiis{width: 100%;height: 32px;max-width:245px;background: url(../image/main/footer/footer_logo.png) no-repeat;background-size: 100%;display:inline-block; margin-top:20px; margin-bottom:10px}

/* policy */
.policyBG{background: url(../image/main/privacyPolicy/bg.png) no-repeat;background-size: 40%;display:inline-block;background-position:50%}
.policyTitle{padding:40px 10%}
.policyTitleBorder{border-top:1px solid #DBDBDB}
.policyContents{margin:0 10%}
.policyContentsBorder{border:3px solid #DBDBDB;padding:30px}
.policyHomeImg{width: 100%;height: 40px;max-width:140px;background: url(../image/main/privacyPolicy/btd_home.png) no-repeat;background-size: 100%;display:inline-block}
.policyHomeImg:hover{width: 100%;height: 40px;max-width:140px;background: url(../image/main/privacyPolicy/btd_home_hover.png) no-repeat;background-size: 100%;display:inline-block;cursor:pointer}
.policyArea{margin:5% 0}
